<div class="container">
    <header>
        <h1>express-template</h1>
    </header>
    <main>
        <h2>COMP 4310-SP20</h2>
        <p>This repository serves as a template for the Express based projects done in my COMP 4310 course.</p>
        <p>The default file structure of this template is:</p>
        <pre>
.
├── docs/
│ └── README.md
├── lib/                    # all JS code
│ ├── app/
│ │ ├── feature_name/       # related middleware functions
│ │ │ └── routes.js         # configure / export router
│ │ └── index.js            # app object configuration
│ ├── model/                # data models & logic
│ ├── test/                 # test cases
│ ├── config.js             # project configuration
│ └── server.js             # entry point
├── sessions/               # saved session files
├── static/                 # all static files
│ ├── css/
│ ├── img/
│ └── js/
├── package-lock.json
└── package.json</pre>
    </main>
</div>